name: CI (lab4)

on:
  pull_request:
    branches: [ "master" ]
    paths:
      - "lab4/**"
      - ".github/workflows/ci.yml"

  push:
    branches: [ "master" ]
    paths:
      - "lab4/**"
      - ".github/workflows/ci.yml"

  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-and-lint:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: lab4

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip

          if [ -f requirements-ci.txt ]; then pip install -r requirements-ci.txt; fi
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

          pip install flake8 pytest

      - name: Lint
        if: false
        run: |
          flake8 src

      - name: Run tests
        run: |
          if [ -d tests ]; then pytest -q; else echo "No tests directory, skipping."; fi

  build-and-push-docker:
    needs: test-and-lint
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push Monitor Image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: banking-offline-monitor
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -f lab4/Dockerfile.monitor .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

